// Mixins
@import "mixin/section";

// Variables
@import "variables/colors";
@import "variables/breakpoints";

// Components
@import "components/header";
@import "components/sitemap";
@import "components/hero";
@import "components/services";

// Global styles
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-family: roboto;
}

body {
  & {
    background-color: $bg-clr;
  }
}
