// Mixins
@import "mixin/section.scss";

// Variables
@import "variables/colors.scss";
@import "variables/breakpoints.scss";

// Components
@import "components/header";
@import "components/sitemap";
@import "components/hero";
@import "components/services";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-family: roboto;
}

body {
  background-color: $bg-clr;
}
