.header {

  & {
    height: 100px;
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--max-width-screen);
    align-items: center;
    width: 100%;
    padding: 12px 32px;
    color: white;

    &__logo {
      height: 100%;

      &__image {
        height: 100%;
      }
    }

    &__nav {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 12px;

      &__item {
        text-decoration: none;
      }
    }

    &__burger_menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      height: 20px;
      width: 25px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      &.active {
        .header__container__burger_menu__item:nth-child(1) {
          transform: rotate(45deg);
          top: 9px;
        }

        .header__container__burger_menu__item:nth-child(2) {
          opacity: 0;
        }

        .header__container__burger_menu__item:nth-child(3) {
          transform: rotate(-45deg);
          top: -9px;
        }
      }

      &__item {
        width: 100%;
        height: 2px;
        background-color: white;
        position: relative;
        transition: all 0.3s ease-in-out;
      }
    }

    @media screen and (max-width: 1080px) {
      &__nav {
        position: absolute;
        flex-direction: column;
        padding-top: 32px;
        justify-content: flex-start;
        align-items: center;
        gap: 22px;
        background-color: white;
        left: -100%;
        top: 0;
        height: 100vh;
        width: 50%;
        transition: 0.3s ease-in-out;

        &__item {
          color: black;
        }

        &.active {
          left: 0;
          top: 0;
        }
      }

      &__burger_menu {
        display: flex;
        z-index: 1;
      }
    }

    @media screen and (max-width: 576px) {
      &__nav {
        width: 100%;
      }
    }
  }
}
