.sitemap {

  & {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    max-width: var(--max-width-screen);
    padding: 32px;
    width: 100%;
    align-items: center;

    &__links {
      list-style: decimal;

      &__link {
        color: white;

        &::marker {
          color: white;
        }
      }
    }
  }
}
