:root {
	--max-width-screen: 1080px;
}

html {
	font-size: clamp(0.875rem, 0.7672rem + 0.3448vw, 1rem);
}

.header {
	height: 100px;
	display: flex;
	justify-content: center;
}

.header__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: var(--max-width-screen);
	align-items: center;
	width: 100%;
	padding: 12px 32px;
	color: white;
}

.header__container__logo {
	height: 100%;
}

.header__container__logo__image {
	height: 100%;
}

.header__container__nav {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 12px;
}

.header__container__nav__item {
	text-decoration: none;
}

.header__container__burger_menu {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
	width: 25px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.header__container__burger_menu.active .header__container__burger_menu__item:nth-child(1) {
	transform: rotate(45deg);
	top: 9px;
}

.header__container__burger_menu.active .header__container__burger_menu__item:nth-child(2) {
	opacity: 0;
}

.header__container__burger_menu.active .header__container__burger_menu__item:nth-child(3) {
	transform: rotate(-45deg);
	top: -9px;
}

.header__container__burger_menu__item {
	width: 100%;
	height: 2px;
	background-color: white;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.secondary_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.sitemap {
	display: flex;
	justify-content: center;
}

.sitemap__container {
	display: flex;
	max-width: var(--max-width-screen);
	padding: 32px;
	width: 100%;
	align-items: center;
}

.sitemap__container__links {
	list-style: decimal;
}

.sitemap__container__links__link {
	color: white;
}

.sitemap__container__links__link::marker {
	color: white;
}

.section--center {
	display: flex;
	justify-content: center;
}

.container--maxwidth {
	display: flex;
	max-width: var(--max-width-screen);
	width: 100%;
}

@media screen and (max-width: 1080px) {
	.header__container__nav {
		position: absolute;
		flex-direction: column;
		padding-top: 32px;
		justify-content: flex-start;
		align-items: center;
		gap: 22px;
		background-color: white;
		left: -50%;
		top: 0;
		height: 100vh;
		width: 50%;
		transition: .3s ease-in-out;
	}

	.header__container__nav__item {
		color: black;
	}

	.header__container__nav.active {
		left: 0;
		top: 0;
	}

	.header__container__burger_menu {
		display: flex;
	}
}

@media screen and (max-width: 576px) {
	.header__container__nav {
		width: 100%;
	}
}
