* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
	font-family: roboto;
}

body {
	background-color: #121212;
}

.hero {
	height: calc(100vh - 100px);
}

.hero__container {
	justify-content: center;
	align-items: center;
}

.hero__container__title {
	font-size: 4rem;
}
